.header_top{
  height: 80px;
  background-color: #2C3E50;
}

.header_bottom{
  height: 100vh;
  background-color: #1ABC9C;
}

.portfolio{
  margin-bottom: 40px;
}

.element{
  height: 200px;
  background-color: red;
  margin-top: 15px;
}

.about{
  height: 60vh;
  background-color: #1ABC9C;
}

.contact_me{
  height: 60vh;
  background-color: #FFFFFF;
}

.footer_top{
  height: 50vh;
  background-color: #3A546D;
}

.footer_bottom{
  height: 10vh;
  background-color: #2C3E50;
}
